
html { 
	background-color: #C2BFB7;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}

body {
  background: transparent ;
}

.wrap {
	background-color: #fff;
}

/*
********************
* Header
********************
*/

.header-info {
	margin-top: 10px;
}

.header-contact {
	font-family: 'Oxigen', sans-serif;
	text-align: right;
}

.header-contact p {
	line-height: 0.5em;
}

.style1 {
	color: #99cc00;
	font-size: 1em;
	margin-right: 0.2em;
}

/*
********************
* Nav
********************
*/

nav {
	line-height: 35px;
	background: #99cc00;
	color: #fff;	
}

nav li {
	font-size: 80%;	
}

.rectangle-left {
	width: 20px;
	height: 45px;
	background: #99cc00;	
	position: absolute;
	left: -20px;
}
.arrow-left {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 10px 0;
	border-color: transparent #739900 transparent transparent;
	position: absolute;
	bottom: -10px;
	left: -20px;
}
.rectangle-right {
	width: 20px;
	height: 45px;
	background: #99cc00;	
	position: absolute;
	right: -20px;
}
.arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 20px 0 0;
	border-color: #739900 transparent transparent transparent;
	position: absolute;
	bottom: -10px;
	right: -20px;
}
/*
********************
* Slider
********************
*/



/*
********************
* General styling
********************
*/

.bmargin {
	margin: 80px 0;
}

.nmargin {
	margin: 40px 0;
}

.nmargin-top {
	margin-top: 40px;
}

.smargin {
	margin: 23px 0;
}

.bpadding {
	padding: 80px 0;
}

.npadding {
	padding: 40px 0;
}
.npadding-top {
	padding-top: 30px;
}

.spadding {
	padding: 15px 0;
}

.centered-text {
	text-align: center;
}

.light {
	font-weight: 200;
}

h2.smaller {
	font-size: 3em;
	margin-bottom: 10px;
}

p {
	font-family: inherit;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: 1.25em;
	text-rendering: optimizeLegibility;
}

p.lead {
	font-size: 1.125em;
	line-height: 1.3em;
	margin-top: -0.3125em;
	color: #777;
}

.mapa {
	padding-left: 0;
	border-style: none;
	background-color: #fff;
}


/*@media only screen and (max-width: 768px) {

}*/